<div class="ipl-teams">
    <div id="CSK" class="team">
        <h2>Chennai Super Kings</h2>
        <p>https://www.chennaisuperkings.com/</p>
        <p>965-144-6018</p>
        <!-- <img src="/IPL-Teams/src/assets/assets/csk.png" alt="CSK logo"> -->
        <!-- <img src="C:/Users/HP/Desktop/Angular/lab-ipl-teams/" alt="">  -->
        <img src="../assets/csk.png" alt="cdk" class="img" height="200px">
    </div>
    <div id="MI" class="team">
        <h2>Mumbai Indians</h2>
        <p>https://www.mumbaiindians.com/</p>
        <p>1-522-714-2638-44811</p>
        <img src="../assets/MI.png" alt="MI logo" class="img">
    </div>
    <div id="RR" class="team">
        <h2>Rajasthan Royals</h2>
        <p>https://www.rajasthanroyals.com/</p>
        <p>030-9641-7086</p>
        <img src="../assets/RR.png" alt="RR logo" class="img">
    </div>
    <div id="DC" class="team">
        <h2>Delhi capitals</h2>
        <p>https://www.delhicapitals.in/</p>
        <p>005-851-7095-72027</p>
        <img src="../assets/Delhi.png" alt="DC logo" class="img">
    </div>
    <div id="RCB" class="team">
        <h2>Royal Challengers Bangalore</h2>
        <p>https://www.royalchallengers.com/</p>
        <p>1-471-836-5871-5841</p>
        <img src="../assets/RCB.png" alt="RCB logo" class="img">
    </div>
    <div id="KKR" class="team">
        <h2>Kolkata Knight Riders</h2>
        <p>https://www.kkr.in/</p>
        <p>(247) 305-7427</p>
        <img src="../assets/KKR.png" alt="KKR logo" class="img">
    </div>
    <div id="KXIP" class="team">
        <h2>Kings XI Punjab</h2>
        <p>https://www.kxip.in/</p>
        <p>4750714608-101</p>
        <img src="../assets/KXI.png" alt="KXIP logo" class="img">
    </div>
    <div id="SRH" class="team">
        <h2>Sunrisers Hyderabad</h2>
        <p>https://www.sunrisershyderabad.in/</p>
        <p>070-610-2661</p>
        <img src="../assets/SRH.png" alt="SRH logo" class="img">
    </div>
</div>